@charset "UTF-8";
/* Scss Document */
@font-face {
  font-family: 'latoheavy';
  src: url("../font/Lato-Heavy-webfont.eot");
  src: url("../font/Lato-Heavy-webfont.eot?#iefix") format("embedded-opentype"), url("../font/Lato-Heavy-webfont.woff2") format("woff2"), url("../font/Lato-Heavy-webfont.woff") format("woff"), url("../font/Lato-Heavy-webfont.ttf") format("truetype"), url("../font/Lato-Heavy-webfont.svg#latoheavy") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latothin';
  src: url("../font/Lato-Thin-webfont.eot");
  src: url("../font/Lato-Thin-webfont.eot?#iefix") format("embedded-opentype"), url("../font/Lato-Thin-webfont.woff2") format("woff2"), url("../font/Lato-Thin-webfont.woff") format("woff"), url("../font/Lato-Thin-webfont.ttf") format("truetype"), url("../font/Lato-Thin-webfont.svg#latothin") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latoitalic';
  src: url("../font/lato-regita-webfont.eot");
  src: url("../font/lato-regita-webfont.eot?#iefix") format("embedded-opentype"), url("../font/lato-regita-webfont.woff2") format("woff2"), url("../font/lato-regita-webfont.woff") format("woff"), url("../font/lato-regita-webfont.ttf") format("truetype"), url("../font/lato-regita-webfont.svg#latoitalic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latohairline';
  src: url("../font/lato-hai-webfont.eot");
  src: url("../font/lato-hai-webfont.eot?#iefix") format("embedded-opentype"), url("../font/lato-hai-webfont.woff2") format("woff2"), url("../font/lato-hai-webfont.woff") format("woff"), url("../font/lato-hai-webfont.ttf") format("truetype"), url("../font/lato-hai-webfont.svg#latohairline") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latoregular';
  src: url("../font/lato-reg-webfont.eot");
  src: url("../font/lato-reg-webfont.eot?#iefix") format("embedded-opentype"), url("../font/lato-reg-webfont.woff2") format("woff2"), url("../font/lato-reg-webfont.woff") format("woff"), url("../font/lato-reg-webfont.ttf") format("truetype"), url("../font/lato-reg-webfont.svg#latoregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latolight_italic';
  src: url("../font/lato-ligita-webfont.eot");
  src: url("../font/lato-ligita-webfont.eot?#iefix") format("embedded-opentype"), url("../font/lato-ligita-webfont.woff2") format("woff2"), url("../font/lato-ligita-webfont.woff") format("woff"), url("../font/lato-ligita-webfont.ttf") format("truetype"), url("../font/lato-ligita-webfont.svg#latolight_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latolight';
  src: url("../font/lato-lig-webfont.eot");
  src: url("../font/lato-lig-webfont.eot?#iefix") format("embedded-opentype"), url("../font/lato-lig-webfont.woff2") format("woff2"), url("../font/lato-lig-webfont.woff") format("woff"), url("../font/lato-lig-webfont.ttf") format("truetype"), url("../font/lato-lig-webfont.svg#latolight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latohairline_italic';
  src: url("../font/lato-haiita-webfont.eot");
  src: url("../font/lato-haiita-webfont.eot?#iefix") format("embedded-opentype"), url("../font/lato-haiita-webfont.woff2") format("woff2"), url("../font/lato-haiita-webfont.woff") format("woff"), url("../font/lato-haiita-webfont.ttf") format("truetype"), url("../font/lato-haiita-webfont.svg#latohairline_italic") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latobold';
  src: url("../font/lato-bol-webfont.eot");
  src: url("../font/lato-bol-webfont.eot?#iefix") format("embedded-opentype"), url("../font/lato-bol-webfont.woff2") format("woff2"), url("../font/lato-bol-webfont.woff") format("woff"), url("../font/lato-bol-webfont.ttf") format("truetype"), url("../font/lato-bol-webfont.svg#latobold") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'latoblack';
  src: url("../font/lato-bla-webfont.eot");
  src: url("../font/lato-bla-webfont.eot?#iefix") format("embedded-opentype"), url("../font/lato-bla-webfont.woff2") format("woff2"), url("../font/lato-bla-webfont.woff") format("woff"), url("../font/lato-bla-webfont.ttf") format("truetype"), url("../font/lato-bla-webfont.svg#latoblack") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'fontello';
  src: url("../font/fontello.eot?59985121");
  src: url("../font/fontello.eot?59985121#iefix") format("embedded-opentype"), url("../font/fontello.woff?59985121") format("woff"), url("../font/fontello.ttf?59985121") format("truetype"), url("../font/fontello.svg?59985121#fontello") format("svg");
  font-weight: normal;
  font-style: normal; }
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?59985121#fontello') format('svg');
  }
}
*/
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */ }

.icon-affordable:before {
  content: '\e800'; }

/* '' */
.icon-cleanwater:before {
  content: '\e801'; }

/* '' */
.icon-donate:before {
  content: '\e802'; }

/* '' */
.icon-treatable:before {
  content: '\e803'; }

/* '' */
.icon-emergency:before {
  content: '\e804'; }

/* '' */
.icon-livelihoods:before {
  content: '\e805'; }

/* '' */
.icon-logo:before {
  content: '\e806'; }

/* '' */
.icon-nutrition:before {
  content: '\e807'; }

/* '' */
.icon-predictable:before {
  content: '\e808'; }

/* '' */
.icon-preventable:before {
  content: '\e809'; }

/* '' */
.icon-treatable-1:before {
  content: '\e80a'; }

/* '' */
/* Scss Document */
/* Scss Document */
@-moz-viewport {
  width: device-width;
  scale: 1; }
@-ms-viewport {
  width: device-width;
  scale: 1; }
@-o-viewport {
  width: device-width;
  scale: 1; }
@-webkit-viewport {
  width: device-width;
  scale: 1; }
@viewport {
  width: device-width;
  scale: 1; }
.desktop {
  display: block; }

.mobile {
  display: none; }

header {
  background: transparent;
  color: white;
  height: 106px;
  width: 100%;
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 9999; }
  header .social_icon {
    margin: 0 auto;
    text-align: right;
    margin-top: 10px;
    margin-right: 30px; }
    header .social_icon .search-container {
      overflow: hidden;
      float: right;
      border-radius: 2em;
      -moz-transition: all 0.35s;
      -webkit-transition: all 0.35s; }
      header .social_icon .search-container input {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        float: left;
        width: 0em;
        height: 2em;
        margin-right: -4.5em;
        background: #fff;
        color: #6A5D4F;
        font-size: 1em;
        font-weight: 600;
        padding: 0px;
        border: 0;
        border-radius: 70px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) inset;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
        -moz-transition: all 0.25s;
        -webkit-transition: all 0.25s; }
        header .social_icon .search-container input:focus {
          outline: none;
          box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.25), 0 1px 5px rgba(0, 0, 0, 0.15); }
      header .social_icon .search-container:hover {
        width: 18em;
        border-radius: 5px 2em 2em 5px; }
        header .social_icon .search-container:hover input {
          display: inline-block;
          width: 15em;
          padding: 10px; }
      header .social_icon .search-container .button:active {
        border: 0 !important;
        text-shadow: 0 0 0; }
    header .social_icon .icons {
      float: right; }
      header .social_icon .icons .login {
        display: inline-block;
        border: 2px solid white;
        font-size: 12px;
        padding: 1px;
        padding-left: 12px;
        padding-right: 12px;
        cursor: pointer; }
        header .social_icon .icons .login:hover {
          color: black;
          background: white; }
    header .social_icon img {
      height: 30px; }
      header .social_icon img:hover {
        border: 2px solid white; }
    header .social_icon .search-container img:hover {
      border: 0; }
  header .logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 135px; }
  header nav.navbar.navbar-default {
    background: none;
    border: 0;
    margin: 0 auto;
    box-shadow: none; }
    header nav.navbar.navbar-default.scroll {
      background: #10bcff;
      opacity: 0.9;
      border-radius: 0;
      padding: 10px; }
    header nav.navbar.navbar-default button.navbar-toggle {
      background: none;
      border-radius: 0;
      outline: none;
      border: 0;
      font-size: 20px;
      position: absolute;
      right: 0;
      top: -6px; }
    header nav.navbar.navbar-default .navbar-collapse, header nav.navbar.navbar-default .navbar-default .navbar-form {
      background: none;
      border: 0;
      margin: 0 auto;
      box-shadow: none; }
    header nav.navbar.navbar-default .container-fluid {
      background: transparent;
      border: none;
      border-radius: 0px;
      outline: 0px;
      box-shadow: none; }
      header nav.navbar.navbar-default .container-fluid .navbar-nav {
        clear: both; }
        header nav.navbar.navbar-default .container-fluid .navbar-nav li {
          text-align: center; }
          header nav.navbar.navbar-default .container-fluid .navbar-nav li a {
            font-family: 'latoregular';
            font-size: 16px;
            color: white; }
            header nav.navbar.navbar-default .container-fluid .navbar-nav li a.current, header nav.navbar.navbar-default .container-fluid .navbar-nav li a:hover {
              text-decoration: none;
              border-bottom: 2px solid #fff;
              padding-bottom: 0;
              padding-left: 0;
              padding-right: 0;
              margin-left: 15px;
              margin-right: 15px; }

body {
  background: #232020;
  color: #231f20; }

div.content {
  min-height: 500px;
  width: 100%;
  margin: 0 auto; }
  div.content .out_impact {
    margin: 0 auto;
    text-align: center;
    height: auto;
    background: rgba(16, 174, 220, 0.11);
    padding-top: 53px;
    font-size: 22px;
    font-family: 'latothin'; }
    div.content .out_impact h2 {
      font-family: 'latoblack';
      font-size: 50px;
      color: #f15b22; }
    div.content .out_impact .million {
      display: inline-block;
      width: 180px;
      font-family: 'latothin';
      font-size: 18px; }
      div.content .out_impact .million h3 {
        color: #f15b22;
        font-family: 'latoblack';
        font-size: 80px; }
  div.content .home_page .unique {
    padding: 25px;
    width: 560px;
    margin: 0 auto;
    position: relative; }
    div.content .home_page .unique h2 {
      font-family: latoblack;
      font-size: 47px;
      color: #231f20;
      text-align: center;
      margin-top: 26px;
      margin-left: -96px; }
    div.content .home_page .unique span {
      display: block;
      width: 593px;
      margin: 0 auto;
      position: relative;
      left: -55px;
      font-size: 16px;
      font-family: latoregular;
      top: 4px; }
      div.content .home_page .unique span ul {
        list-style: none;
        margin-left: -29px;
        margin-top: 11px;
        line-height: 2.5; }
        div.content .home_page .unique span ul li b {
          font-family: latobold; }
        div.content .home_page .unique span ul li:before {
          content: "• ";
          color: #f15b22;
          font-size: 18px; }
      div.content .home_page .unique span a {
        color: #f15b22;
        font-family: latobold; }
    div.content .home_page .unique img.hand {
      position: absolute;
      right: -233px;
      top: 106px; }
  div.content .home_page .country {
    margin: 0 auto;
    text-align: center;
    background: #0e3455;
    padding: 10px; }
    div.content .home_page .country h2 {
      font-family: 'latoblack';
      font-size: 50px;
      color: white; }
    div.content .home_page .country .footer_country {
      font-family: 'latoregular';
      font-size: 16px;
      color: white;
      width: 626px;
      margin: 0 auto;
      text-align: left; }
  div.content .about_page .unique {
    height: 438px;
    padding: 25px;
    width: 560px;
    margin: 0 auto;
    position: relative; }
    div.content .about_page .unique h2 {
      font-family: latoblack;
      font-size: 47px;
      color: #231f20;
      text-align: center;
      margin-top: 26px;
      margin-left: -96px; }
    div.content .about_page .unique span {
      display: block;
      width: 593px;
      margin: 0 auto;
      position: relative;
      left: -55px;
      font-size: 16px;
      font-family: latoregular;
      top: 4px; }
      div.content .about_page .unique span ul {
        list-style: none;
        margin-left: -29px;
        margin-top: 11px;
        line-height: 2.5; }
        div.content .about_page .unique span ul li b {
          font-family: latobold; }
        div.content .about_page .unique span ul li:before {
          content: "• ";
          color: #f15b22;
          font-size: 18px; }
      div.content .about_page .unique span a {
        color: #f15b22;
        font-family: latobold; }
    div.content .about_page .unique img.hand {
      position: absolute;
      right: -233px;
      top: 106px; }
  div.content .about_page .why_matters {
    background: url("../images/about/about_background.png") no-repeat;
    width: 100%;
    margin: 0 auto;
    background-position: top center;
    text-align: center;
    padding: 79px;
    background-size: cover; }
    div.content .about_page .why_matters h2 {
      color: white;
      text-align: center;
      font-size: 50px;
      font-family: latoblack;
      margin-bottom: 28px; }
    div.content .about_page .why_matters span {
      font-family: latothin;
      font-size: 22px;
      color: white; }
    div.content .about_page .why_matters .icon {
      margin-top: 48px;
      font-size: 21px;
      color: white;
      font-family: 'latobold'; }
      div.content .about_page .why_matters .icon div {
        display: inline-block; }
      div.content .about_page .why_matters .icon i {
        font-size: 90px; }
    div.content .about_page .why_matters .help_us_button {
      border: 3px solid white;
      cursor: pointer;
      width: 390px;
      margin: 0 auto;
      margin-top: 37px;
      height: 73px;
      padding-top: 18px;
      color: white;
      font-size: 25px;
      font-family: latoregular; }
      div.content .about_page .why_matters .help_us_button:hover {
        background: white;
        color: #f26522; }
  div.content .about_page .slider {
    margin: 0 auto;
    text-align: center;
    height: 520px; }
    div.content .about_page .slider .slide strong {
      color: #e57f12;
      font-size: 24px;
      font-weight: bold;
      font-family: latoregular;
      text-align: center;
      display: block;
      padding-top: 45px; }
    div.content .about_page .slider .slide h2 {
      text-align: center;
      color: white;
      font-size: 50px;
      margin-top: 44px;
      margin-left: 22px;
      font-family: latoblack; }
    div.content .about_page .slider .slide span {
      width: 500px;
      display: block;
      margin: 0 auto;
      color: white;
      font-size: 21px;
      font-family: latothin;
      margin-top: 31px;
      text-align: center; }
    div.content .about_page .slider .slide.number1 {
      background: url("../images/about/slider1.jpg") no-repeat;
      background-size: cover;
      height: 521px;
      padding: 11px; }
    div.content .about_page .slider .learn_more_button {
      display: block;
      margin: 0 auto;
      margin-top: -154px;
      width: 343px;
      text-align: center;
      color: white;
      border: 3px solid white;
      cursor: pointer;
      font-size: 25px;
      font-family: latoregular;
      position: relative;
      left: 1px;
      height: 73px;
      padding-top: 16px; }
      div.content .about_page .slider .learn_more_button:hover {
        background: #f15b22;
        color: white; }
  div.content .about_page .acf {
    height: 468px;
    margin: 0 auto;
    text-align: center;
    padding-top: 45px; }
    div.content .about_page .acf h2 {
      color: black;
      font-size: 49px;
      font-family: latoblack;
      text-transform: uppercase;
      text-align: center;
      margin-left: 23px;
      margin-bottom: 20px; }
    div.content .about_page .acf span {
      display: block;
      width: 615px;
      margin: 0 auto;
      font-family: latoregular;
      font-size: 16px; }
      div.content .about_page .acf span b {
        color: #f15b22;
        font-family: latobold;
        font-size: 18px; }
  div.content .about_page .humanitarian_expert {
    background: #f68e56;
    text-align: center;
    padding: 0;
    padding-top: 23px;
    padding-bottom: 23px; }
    div.content .about_page .humanitarian_expert .hide_head {
      display: none; }
    div.content .about_page .humanitarian_expert .expert_head {
      width: 172px;
      height: 172px;
      display: inline-block;
      background: url("../images/about/expert_head.png") no-repeat;
      background-position: center;
      position: relative; }
      div.content .about_page .humanitarian_expert .expert_head:hover {
        opacity: 0.6; }
      div.content .about_page .humanitarian_expert .expert_head span {
        font-size: 12px; }
    div.content .about_page .humanitarian_expert .head_content {
      position: absolute;
      width: 169px;
      height: 171px;
      background: rgba(0, 0, 0, 0.54);
      border-radius: 50%;
      padding-top: 37px;
      color: white; }
      div.content .about_page .humanitarian_expert .head_content h2 {
        font-size: 19px; }
    div.content .about_page .humanitarian_expert .expert_content {
      padding: 20px;
      background: #464646;
      color: white;
      display: none;
      margin-top: 15px;
      margin-bottom: 15px; }
      div.content .about_page .humanitarian_expert .expert_content .row {
        margin: 0 auto; }
        div.content .about_page .humanitarian_expert .expert_content .row .col-sm-4 {
          text-align: left; }
        div.content .about_page .humanitarian_expert .expert_content .row .col-sm-8 {
          text-align: left; }
      div.content .about_page .humanitarian_expert .expert_content h2 {
        font-family: 'latoheavy';
        font-size: 48px; }
      div.content .about_page .humanitarian_expert .expert_content h3 {
        font-family: 'latobold';
        font-size: 30px;
        color: white;
        margin-bottom: 60px;
        font-style: italic; }
      div.content .about_page .humanitarian_expert .expert_content .content_head {
        font-family: 'latoregular';
        font-size: 16px; }
    div.content .about_page .humanitarian_expert .email_icon {
      background: url("../images/email_icon.png") no-repeat;
      width: 95px;
      height: 67px;
      text-align: center; }
    div.content .about_page .humanitarian_expert h3 {
      font-family: latoblack;
      font-size: 48px;
      color: white;
      margin-bottom: 60px; }
  div.content .about_page .our_partners {
    height: auto;
    text-align: center;
    padding-top: 47px; }
    div.content .about_page .our_partners h2 {
      font-family: latoblack;
      color: #f15b22;
      font-size: 50px;
      margin-bottom: 16px; }
    div.content .about_page .our_partners span {
      display: block;
      width: 630px;
      margin: 0 auto;
      font-size: 16px;
      font-family: latoregular; }
    div.content .about_page .our_partners .partner_logo {
      margin-top: 44px; }
    div.content .about_page .our_partners .learn_more_button {
      width: 341px;
      height: 73px;
      margin: 0 auto;
      border: 3px solid #f15b22;
      cursor: pointer;
      margin-top: 60px;
      color: #f15b22;
      font-size: 25px;
      font-family: latoregular;
      padding-top: 16px; }
      div.content .about_page .our_partners .learn_more_button:hover {
        background: #f15b22;
        color: white; }
  div.content .about_page .video {
    height: 520px;
    text-align: center;
    position: relative; }
    div.content .about_page .video .play {
      width: 100%;
      height: 520px;
      background: url("../images/about/video_play.png") no-repeat;
      background-position: center;
      margin: 0 auto;
      text-align: left;
      position: absolute;
      top: 0;
      left: 30px;
      right: 0; }
      div.content .about_page .video .play .title {
        color: white;
        font-size: 34px;
        font-family: latothin;
        margin-top: 380px; }
      div.content .about_page .video .play .title_head {
        font-family: latoblack;
        font-size: 40px;
        color: white; }
  div.content .take_action_page .slider {
    text-align: center; }
    div.content .take_action_page .slider .slider1 {
      background: url("../images/take_action/take_action_slide.jpg") no-repeat;
      width: 100%;
      background-size: cover;
      background-position: top;
      height: 623px;
      color: white;
      padding-top: 40px; }
      div.content .take_action_page .slider .slider1 h3 {
        font-family: 'latoheavy';
        font-size: 33px; }
      div.content .take_action_page .slider .slider1 h2 {
        font-family: 'latoblack';
        font-size: 50px;
        margin-top: 90px;
        margin-bottom: 90px; }
      div.content .take_action_page .slider .slider1 p {
        font-family: 'latothin';
        font-size: 22px; }
      div.content .take_action_page .slider .slider1 .learn_more {
        font-family: 'latoregular';
        font-size: 25px;
        width: 342px;
        height: 73px;
        border: 3px solid white;
        margin: 0 auto;
        text-align: center;
        padding-top: 16px;
        margin-top: 70px;
        cursor: pointer; }
        div.content .take_action_page .slider .slider1 .learn_more:hover {
          background: white;
          color: black; }
  div.content .take_action_page .take_action_mid {
    text-align: center; }
  div.content .take_action_page .action_take {
    margin: 0 auto;
    text-align: center; }
    div.content .take_action_page .action_take img {
      padding: 25px; }
  div.content .take_action_page .action_menu {
    text-align: center; }
    div.content .take_action_page .action_menu div.menu_action {
      display: inline-block;
      width: 255px;
      text-align: center;
      height: 169px;
      position: relative;
      margin-right: -3px; }
      div.content .take_action_page .action_menu div.menu_action div.action_text {
        font-family: "latolight";
        font-size: 25px;
        display: block;
        width: 150px;
        float: left;
        position: relative;
        margin-left: 50px; }
      div.content .take_action_page .action_menu div.menu_action span.glyphicon.glyphicon-chevron-right {
        position: absolute;
        top: 13px;
        font-size: 15px;
        right: -20px; }
      div.content .take_action_page .action_menu div.menu_action b {
        display: block;
        text-align: center;
        margin: 0 auto;
        font-family: "latoblack";
        font-size: 40px; }
      div.content .take_action_page .action_menu div.menu_action div.footer {
        position: absolute;
        bottom: 0;
        width: 256px;
        height: 20px; }
        div.content .take_action_page .action_menu div.menu_action div.footer.a {
          background: #059fcc; }
        div.content .take_action_page .action_menu div.menu_action div.footer.b {
          background: #f97c4b; }
        div.content .take_action_page .action_menu div.menu_action div.footer.c {
          background: #38cedc; }
        div.content .take_action_page .action_menu div.menu_action div.footer.d {
          background: #febb1c; }
    div.content .take_action_page .action_menu .menu_action.make_donation:hover, div.content .take_action_page .action_menu .menu_action.make_donation.active {
      background: #059fcc;
      color: white; }
      div.content .take_action_page .action_menu .menu_action.make_donation:hover div.footer, div.content .take_action_page .action_menu .menu_action.make_donation.active div.footer {
        background: #fff; }
    div.content .take_action_page .action_menu .menu_action.fundraise:hover, div.content .take_action_page .action_menu .menu_action.fundraise.active {
      color: white;
      background: #f97c4b; }
      div.content .take_action_page .action_menu .menu_action.fundraise:hover div.footer, div.content .take_action_page .action_menu .menu_action.fundraise.active div.footer {
        background: #fff; }
    div.content .take_action_page .action_menu .menu_action.give_monthly:hover, div.content .take_action_page .action_menu .menu_action.give_monthly.active {
      color: white;
      background: #38cedc; }
      div.content .take_action_page .action_menu .menu_action.give_monthly:hover div.footer, div.content .take_action_page .action_menu .menu_action.give_monthly.active div.footer {
        background: #fff; }
    div.content .take_action_page .action_menu .menu_action.buy_live_saving:hover, div.content .take_action_page .action_menu .menu_action.buy_live_saving.active {
      color: white;
      background: #febb1c; }
      div.content .take_action_page .action_menu .menu_action.buy_live_saving:hover div.footer, div.content .take_action_page .action_menu .menu_action.buy_live_saving.active div.footer {
        background: #fff; }
  div.content .take_action_page .action_menu_click {
    display: none;
    width: 100%;
    height: 704px; }
    div.content .take_action_page .action_menu_click .give_monthly {
      display: none;
      background: #38cedc;
      min-height: 100px;
      height: 704px;
      color: white;
      text-align: center;
      padding: 20px;
      font-family: 'latoregular';
      font-size: 16px; }
      div.content .take_action_page .action_menu_click .give_monthly p {
        text-align: left; }
      div.content .take_action_page .action_menu_click .give_monthly .amount_button {
        width: 142px;
        height: 73px;
        display: inline-block;
        border: 3px solid white;
        color: white;
        font-family: 'latoregular';
        font-size: 25px;
        text-align: CENTER;
        padding-top: 15px;
        margin: 10px;
        cursor: pointer; }
        div.content .take_action_page .action_menu_click .give_monthly .amount_button:hover {
          background: white;
          color: #059fcc; }
      div.content .take_action_page .action_menu_click .give_monthly img {
        text-align: center;
        display: block;
        margin: 0 auto; }
      div.content .take_action_page .action_menu_click .give_monthly h3 {
        font-family: 'latoheavy';
        font-size: 32px; }
      div.content .take_action_page .action_menu_click .give_monthly h4 {
        font-family: 'latobold';
        font-size: 22px; }
      div.content .take_action_page .action_menu_click .give_monthly .sent_button {
        display: block;
        margin: 0 auto;
        width: 284px;
        text-align: center;
        color: white;
        border: 3px solid white;
        cursor: pointer;
        font-size: 25px;
        font-family: latoregular;
        height: 73px;
        padding-top: 16px;
        margin-bottom: 10px; }
        div.content .take_action_page .action_menu_click .give_monthly .sent_button:hover {
          background: white;
          color: #059fcc; }
      div.content .take_action_page .action_menu_click .give_monthly .donation_form {
        height: 55px;
        margin-top: 18px;
        margin-bottom: 50px; }
        div.content .take_action_page .action_menu_click .give_monthly .donation_form .input {
          border: 3px solid #059fcc;
          width: 155px;
          height: 55px;
          display: inline-block;
          position: relative;
          text-align: right;
          background: white; }
          div.content .take_action_page .action_menu_click .give_monthly .donation_form .input div.dollar {
            position: absolute;
            left: 4px;
            top: 11px;
            color: #059fcc;
            font-family: 'latolight';
            font-size: 22px; }
          div.content .take_action_page .action_menu_click .give_monthly .donation_form .input input {
            width: 80%;
            border: 0px;
            height: 49px;
            position: absolute;
            right: 0; }
        div.content .take_action_page .action_menu_click .give_monthly .donation_form .donation_text {
          display: inline;
          position: relative;
          top: -21px; }
        div.content .take_action_page .action_menu_click .give_monthly .donation_form .select {
          display: inline;
          position: relative;
          top: -21px;
          font-size: 22px;
          font-family: 'latolight'; }
    div.content .take_action_page .action_menu_click .buy_live {
      display: none;
      background: #febb1c;
      min-height: 100px;
      height: 704px;
      text-align: center; }
      div.content .take_action_page .action_menu_click .buy_live img {
        display: block;
        margin: 0 auto; }
      div.content .take_action_page .action_menu_click .buy_live .start_your_own {
        display: inline-block;
        width: 422px;
        height: 73px;
        color: white;
        border: 3px solid white;
        font-family: 'latoregular';
        font-size: 25px;
        padding-top: 15px;
        cursor: pointer; }
        div.content .take_action_page .action_menu_click .buy_live .start_your_own:hover {
          background: white;
          color: #febb1c; }
      div.content .take_action_page .action_menu_click .buy_live .donate_to_the_cause {
        display: inline-block;
        width: 422px;
        height: 73px;
        color: white;
        border: 3px solid white;
        font-family: 'latoregular';
        font-size: 25px;
        padding-top: 15px;
        cursor: pointer; }
        div.content .take_action_page .action_menu_click .buy_live .donate_to_the_cause:hover {
          background: white;
          color: #febb1c; }
    div.content .take_action_page .action_menu_click .fundraise {
      display: none;
      background: #f97c4b;
      min-height: 100px;
      height: 704px;
      text-align: center; }
      div.content .take_action_page .action_menu_click .fundraise img {
        display: block;
        margin: 0 auto; }
      div.content .take_action_page .action_menu_click .fundraise .start_your_own {
        display: inline-block;
        width: 422px;
        height: 73px;
        color: white;
        border: 3px solid white;
        font-family: 'latoregular';
        font-size: 25px;
        padding-top: 15px;
        cursor: pointer; }
        div.content .take_action_page .action_menu_click .fundraise .start_your_own:hover {
          background: white;
          color: #f97c4b; }
      div.content .take_action_page .action_menu_click .fundraise .donate_to_the_cause {
        display: inline-block;
        width: 422px;
        height: 73px;
        color: white;
        border: 3px solid white;
        font-family: 'latoregular';
        font-size: 25px;
        padding-top: 15px;
        cursor: pointer; }
        div.content .take_action_page .action_menu_click .fundraise .donate_to_the_cause:hover {
          background: white;
          color: #f97c4b; }
    div.content .take_action_page .action_menu_click .make_donation {
      display: none;
      text-align: center;
      padding: 45px;
      background: #059fcc;
      color: white;
      height: 704px;
      font-family: 'latoregular';
      font-size: 16px; }
      div.content .take_action_page .action_menu_click .make_donation p {
        text-align: left; }
      div.content .take_action_page .action_menu_click .make_donation .amount_button {
        width: 142px;
        height: 73px;
        display: inline-block;
        border: 3px solid white;
        color: white;
        font-family: 'latoregular';
        font-size: 25px;
        text-align: CENTER;
        padding-top: 15px;
        margin: 10px;
        cursor: pointer; }
        div.content .take_action_page .action_menu_click .make_donation .amount_button:hover {
          background: white;
          color: #059fcc; }
      div.content .take_action_page .action_menu_click .make_donation img {
        text-align: center;
        display: block;
        margin: 0 auto; }
      div.content .take_action_page .action_menu_click .make_donation h3 {
        font-family: 'latoheavy';
        font-size: 32px; }
      div.content .take_action_page .action_menu_click .make_donation h4 {
        font-family: 'latobold';
        font-size: 22px; }
      div.content .take_action_page .action_menu_click .make_donation .sent_button {
        display: block;
        margin: 0 auto;
        width: 284px;
        text-align: center;
        color: white;
        border: 3px solid white;
        cursor: pointer;
        font-size: 25px;
        font-family: latoregular;
        height: 73px;
        padding-top: 16px;
        margin-bottom: 10px; }
        div.content .take_action_page .action_menu_click .make_donation .sent_button:hover {
          background: white;
          color: #059fcc; }
      div.content .take_action_page .action_menu_click .make_donation .donation_form {
        height: 55px;
        margin-top: 18px;
        margin-bottom: 50px; }
        div.content .take_action_page .action_menu_click .make_donation .donation_form .input {
          border: 3px solid #059fcc;
          width: 155px;
          height: 55px;
          display: inline-block;
          position: relative;
          text-align: right;
          background: white; }
          div.content .take_action_page .action_menu_click .make_donation .donation_form .input div.dollar {
            position: absolute;
            left: 4px;
            top: 11px;
            color: #059fcc;
            font-family: 'latolight';
            font-size: 22px; }
          div.content .take_action_page .action_menu_click .make_donation .donation_form .input input {
            width: 80%;
            border: 0px;
            height: 49px;
            position: absolute;
            right: 0; }
        div.content .take_action_page .action_menu_click .make_donation .donation_form .donation_text {
          display: inline;
          position: relative;
          top: -21px; }
        div.content .take_action_page .action_menu_click .make_donation .donation_form .select {
          display: inline;
          position: relative;
          top: -21px;
          font-size: 22px;
          font-family: 'latolight'; }
  div.content .impact_page .take_action_mid {
    margin: 0 auto;
    text-align: center; }
  div.content .impact_page .action_take {
    background: rgba(172, 246, 255, 0.21);
    margin: 0 auto;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 52px; }
    div.content .impact_page .action_take div i {
      font-size: 174px;
      color: white; }
    div.content .impact_page .action_take div img {
      position: absolute;
      left: 0;
      right: 0;
      top: 46px;
      bottom: 0;
      margin: 0 auto; }
    div.content .impact_page .action_take div p {
      position: absolute;
      left: 0;
      right: 0;
      top: 220px;
      bottom: 0;
      margin: 0 auto;
      font-family: 'latoheavy';
      font-size: 30px;
      color: white; }
    div.content .impact_page .action_take .nutrition {
      background: url("../images/impact/nutrition_bg.jpg") no-repeat;
      width: 390px;
      height: 327px;
      display: inline-block;
      position: relative;
      margin: 20px; }
      div.content .impact_page .action_take .nutrition:hover {
        background: #f68e55; }
    div.content .impact_page .action_take .water {
      background: url("../images/impact/water_bg.jpg") no-repeat;
      width: 390px;
      height: 327px;
      display: inline-block;
      position: relative;
      margin: 20px; }
      div.content .impact_page .action_take .water:hover {
        background: #089cff; }
    div.content .impact_page .action_take .food {
      background: url("../images/impact/food_bg.jpg") no-repeat;
      width: 390px;
      height: 327px;
      display: inline-block;
      position: relative;
      margin: 20px; }
      div.content .impact_page .action_take .food:hover {
        background: #5bd26e; }
    div.content .impact_page .action_take .emergency {
      background: url("../images/impact/emergency_bg.jpg") no-repeat;
      width: 390px;
      height: 327px;
      display: inline-block;
      position: relative;
      margin: 20px; }
      div.content .impact_page .action_take .emergency:hover {
        background: #ff0c06; }
  div.content .stories_page {
    text-align: center; }
    div.content .stories_page .stories_list {
      margin: 0 auto;
      margin-top: 40px;
      text-align: center;
      max-width: 938px; }
      div.content .stories_page .stories_list .story {
        width: 297px;
        height: 230px;
        margin-right: 13px;
        display: inline-block;
        margin-bottom: 33px;
        position: relative;
        cursor: pointer; }
        div.content .stories_page .stories_list .story .story_heading {
          position: absolute;
          bottom: 0px;
          height: 59px;
          background: rgba(0, 0, 0, 0.45);
          width: 100%;
          font-family: 'latoheavy';
          font-size: 12px;
          text-align: left;
          padding: 0;
          padding-left: 11px;
          color: white; }
          div.content .stories_page .stories_list .story .story_heading h2 {
            font-size: 22px;
            margin: 0 auto;
            margin-top: 9px; }
        div.content .stories_page .stories_list .story.s1 {
          background: url("../images/stories/aah-027.jpg") no-repeat; }
        div.content .stories_page .stories_list .story.s2 {
          background: url("../images/stories/aah-003.jpg") no-repeat; }
        div.content .stories_page .stories_list .story.s3 {
          background: url("../images/stories/aah-007.jpg") no-repeat; }
        div.content .stories_page .stories_list .story.s4 {
          background: url("../images/stories/aah-008.jpg") no-repeat; }
        div.content .stories_page .stories_list .story.s5 {
          background: url("../images/stories/aah-016.jpg") no-repeat; }
        div.content .stories_page .stories_list .story.s6 {
          background: url("../images/stories/aah-019.jpg") no-repeat; }
    div.content .stories_page div.page {
      display: inline-block;
      padding: 3px 3px 1px 2px;
      margin-bottom: 19px; }
      div.content .stories_page div.page.active {
        background: #ef5214;
        color: white; }
      div.content .stories_page div.page.p {
        cursor: pointer; }
        div.content .stories_page div.page.p:hover {
          background: #ef5214;
          color: white; }
  div.content .header {
    margin: 0 auto;
    position: relative; }
    div.content .header img.hand {
      position: absolute;
      right: 0px;
      bottom: 20px; }
    div.content .header .content_header {
      width: 80%;
      padding: 32px;
      position: absolute;
      bottom: 0px; }
      div.content .header .content_header h1 {
        font-size: 80px;
        color: white;
        font-family: latoblack;
        padding-left: 3px;
        line-height: 1; }
      div.content .header .content_header span {
        color: #f1f2f2;
        font-size: 22px;
        font-family: latothin;
        line-height: 1.35; }
    div.content .header.about {
      background: url("../images/about/about_header.jpg") no-repeat;
      width: 100%;
      height: 520px;
      background-position: center;
      background-size: cover; }
    div.content .header.home {
      background: url("../images/home_header.jpg") no-repeat;
      width: 100%;
      height: 520px;
      background-position: center;
      background-size: cover; }
      div.content .header.home div.content_header h1 {
        font-family: 'latoblack';
        font-size: 47px; }
    div.content .header.take_action {
      background: url("../images/take_action/take_action_header.jpg") no-repeat;
      width: 100%;
      height: 525px;
      background-position: top;
      background-size: cover; }
    div.content .header.impact {
      background: url("../images/impact/impact.jpg") no-repeat;
      width: 100%;
      height: 520px;
      background-position: top;
      background-size: cover; }
    div.content .header.stories {
      background: url("../images/stories/stories.jpg") no-repeat;
      width: 100%;
      height: 520px;
      background-position: top;
      background-size: cover; }

footer {
  background: black;
  min-height: 118px;
  color: white;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  height: 150px; }
  footer div.row {
    padding-top: 24px; }
    footer div.row div {
      padding: 13px; }
    footer div.row div.back_top {
      background: url("../images/about/back_top.png") no-repeat;
      width: 107px;
      height: 105px;
      right: 15px;
      bottom: 15px;
      float: right;
      margin: 0 auto; }
    footer div.row .middle {
      font-family: 'latoregular';
      font-size: 10px; }
    footer div.row .subcribe h3 {
      font-family: 'latoregular';
      font-size: 12px;
      margin-left: -90px; }
    footer div.row .input-group {
      margin-left: 14px; }
      footer div.row .input-group input.form-control {
        height: 38px;
        border-radius: 0; }
    footer div.row span#basic-addon1 {
      background: transparent;
      color: #f15b22;
      border-radius: 0;
      border: 3px solid #f15b22; }

div#nutrition .modal-dialog {
  width: 847px; }
div#nutrition .modal-header {
  background: url("../images/impact/nutrition_header.jpg") no-repeat;
  width: 847px;
  height: 341px;
  position: relative; }
  div#nutrition .modal-header button.close {
    font-family: 'latothin';
    font-size: 72px;
    color: white;
    opacity: 1; }
    div#nutrition .modal-header button.close:hover {
      color: grey; }
  div#nutrition .modal-header h2 {
    font-family: 'latoheavy';
    font-size: 35px;
    color: white;
    text-transform: uppercase; }
  div#nutrition .modal-header .header_text {
    position: absolute;
    bottom: 15px;
    left: 15px; }
    div#nutrition .modal-header .header_text span {
      font-family: 'latothin';
      font-size: 22px;
      color: white; }
div#nutrition .modal-content {
  background: white;
  border-radius: 0;
  outline: none;
  border: 0; }
  div#nutrition .modal-content .modal-body {
    padding: 40px;
    font-family: 'latoregular';
    font-size: 16px; }
    div#nutrition .modal-content .modal-body img {
      text-align: center;
      display: block;
      margin: 0 auto; }
    div#nutrition .modal-content .modal-body h3 {
      font-family: 'latoheavy';
      font-size: 32px; }
    div#nutrition .modal-content .modal-body h4 {
      font-family: 'latobold';
      font-size: 22px; }

div#header_donation .modal-dialog {
  width: 847px; }
div#header_donation .modal-header {
  background: url("../images/donation_header.jpg") no-repeat;
  width: 846px;
  height: 341px;
  border: 0;
  outline: 0;
  position: relative; }
  div#header_donation .modal-header button.close {
    font-family: 'latothin';
    font-size: 72px;
    color: white;
    opacity: 1; }
    div#header_donation .modal-header button.close:hover {
      color: grey; }
  div#header_donation .modal-header h2 {
    font-family: 'latoheavy';
    font-size: 35px;
    color: white;
    text-transform: uppercase; }
  div#header_donation .modal-header .header_text {
    position: absolute;
    bottom: 15px;
    left: 15px; }
    div#header_donation .modal-header .header_text span {
      font-family: 'latothin';
      font-size: 22px;
      color: white; }
div#header_donation .modal-content {
  background: white;
  border-radius: 0;
  outline: none;
  border: 0; }
  div#header_donation .modal-content .modal-body {
    text-align: center;
    padding: 45px;
    font-family: 'latoregular';
    font-size: 16px; }
    div#header_donation .modal-content .modal-body p {
      text-align: left; }
    div#header_donation .modal-content .modal-body .amount_button {
      width: 142px;
      height: 73px;
      display: inline-block;
      border: 3px solid #059fcc;
      color: #059fcc;
      font-family: 'latoregular';
      font-size: 25px;
      text-align: CENTER;
      padding-top: 15px;
      margin: 10px;
      cursor: pointer; }
      div#header_donation .modal-content .modal-body .amount_button:hover {
        background: #059fcc;
        color: white; }
    div#header_donation .modal-content .modal-body img {
      text-align: center;
      display: block;
      margin: 0 auto; }
    div#header_donation .modal-content .modal-body h3 {
      font-family: 'latoheavy';
      font-size: 32px; }
    div#header_donation .modal-content .modal-body h4 {
      font-family: 'latobold';
      font-size: 22px; }
    div#header_donation .modal-content .modal-body .sent_button {
      display: block;
      margin: 0 auto;
      width: 284px;
      text-align: center;
      color: #f15b22;
      border: 3px solid #f15b22;
      cursor: pointer;
      font-size: 25px;
      font-family: latoregular;
      height: 73px;
      padding-top: 16px;
      margin-bottom: 10px; }
      div#header_donation .modal-content .modal-body .sent_button:hover {
        background: #f15b22;
        color: white; }
    div#header_donation .modal-content .modal-body .donation_form {
      height: 55px;
      margin-top: 18px;
      margin-bottom: 50px; }
      div#header_donation .modal-content .modal-body .donation_form .input {
        border: 3px solid #059fcc;
        width: 155px;
        height: 55px;
        display: inline-block;
        position: relative;
        text-align: right; }
        div#header_donation .modal-content .modal-body .donation_form .input div.dollar {
          position: absolute;
          left: 4px;
          top: 11px;
          color: #059fcc;
          font-family: 'latolight';
          font-size: 22px; }
        div#header_donation .modal-content .modal-body .donation_form .input input {
          width: 80%;
          border: 0px;
          height: 49px;
          position: absolute;
          right: 0; }
      div#header_donation .modal-content .modal-body .donation_form .donation_text {
        display: inline;
        position: relative;
        top: -21px; }
      div#header_donation .modal-content .modal-body .donation_form .select {
        display: inline;
        position: relative;
        top: -21px;
        font-size: 22px;
        font-family: 'latolight'; }

#slider {
  height: 565px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 4px; }
  #slider ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none; }
    #slider ul li {
      position: relative;
      display: block;
      float: left;
      margin: 0;
      padding: 0;
      width: 100%;
      height: 565px;
      text-align: center; }

#slider_head {
  height: 100px;
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px; }
  #slider_head ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none; }
    #slider_head ul li {
      position: relative;
      display: block;
      float: left;
      margin: 0;
      padding: 0;
      width: 1024px;
      height: 100px;
      text-align: center; }

div.control_prev, div.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: 81px;
  height: 81px;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer; }

div.control_prev {
  background: url("../images/left_button.png") no-repeat; }

div.control_next {
  background: url("../images/right_button.png") no-repeat; }

div.control_prev:hover, div.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease; }

div.control_prev {
  border-radius: 0 2px 2px 0;
  left: 20px; }

div.control_next {
  right: 20px;
  border-radius: 2px 0 0 2px; }

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px; }

@media (max-width: 767px) {
  .map {
    -ms-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    transform-origin: 0px;
    margin: 0 auto; }

  div.content .about_page .unique h2 {
    margin: 0 auto; }

  div.content .home_page .unique, div.content .about_page .unique {
    width: 100%;
    height: auto; }
    div.content .home_page .unique span, div.content .about_page .unique span {
      width: 100%;
      left: 0; }

  div.content .header .content_header {
    width: 100%;
    text-align: center;
    bottom: 101px; }

  div.content .header img.hand {
    left: 0;
    right: 0;
    text-align: CENTER;
    margin: 0 auto; }

  .desktop {
    display: none; }

  .mobile {
    display: block; }

  header .logo {
    width: 90px;
    top: 23px; }
  header .social_icon {
    margin-right: 69px; }
  header nav.navbar.navbar-default .container-fluid .navbar-nav li {
    background: #414142;
    border-bottom: 1px solid black; }
    header nav.navbar.navbar-default .container-fluid .navbar-nav li a.current {
      background: #58595b;
      border: none;
      text-decoration: none;
      margin: auto;
      padding-bottom: 10px;
      line-height: 20px; }
  header nav.navbar.navbar-default div#bs-example-navbar-collapse-1 {
    margin-top: 50px; }

  footer div.row div.back_top {
    margin-top: 19px; } }
@media (max-width: 662px) {
  div.content .take_action_page .slider .slider1 h2 {
    font-size: 25px; }

  .map {
    -ms-transform: scale(0.4);
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    transform-origin: 0px;
    margin: 0 auto; } }
@media (max-width: 450px) {
  .map {
    -ms-transform: scale(0.3);
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    transform-origin: 0px;
    margin: 0 auto; } }

/*# sourceMappingURL=style.css.map */
