// Variables

$light-grey: #ccc;
$text-color: #222;

@font-face {
  font-family: 'latoheavy';
  src: url('../font/Lato-Heavy-webfont.eot');
  src: url('../font/Lato-Heavy-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/Lato-Heavy-webfont.woff2') format('woff2'),
  url('../font/Lato-Heavy-webfont.woff') format('woff'),
  url('../font/Lato-Heavy-webfont.ttf') format('truetype'),
  url('../font/Lato-Heavy-webfont.svg#latoheavy') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'latothin';
  src: url('../font/Lato-Thin-webfont.eot');
  src: url('../font/Lato-Thin-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/Lato-Thin-webfont.woff2') format('woff2'),
  url('../font/Lato-Thin-webfont.woff') format('woff'),
  url('../font/Lato-Thin-webfont.ttf') format('truetype'),
  url('../font/Lato-Thin-webfont.svg#latothin') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'latoitalic';
  src: url('../font/lato-regita-webfont.eot');
  src: url('../font/lato-regita-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/lato-regita-webfont.woff2') format('woff2'),
  url('../font/lato-regita-webfont.woff') format('woff'),
  url('../font/lato-regita-webfont.ttf') format('truetype'),
  url('../font/lato-regita-webfont.svg#latoitalic') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'latohairline';
  src: url('../font/lato-hai-webfont.eot');
  src: url('../font/lato-hai-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/lato-hai-webfont.woff2') format('woff2'),
  url('../font/lato-hai-webfont.woff') format('woff'),
  url('../font/lato-hai-webfont.ttf') format('truetype'),
  url('../font/lato-hai-webfont.svg#latohairline') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'latoregular';
  src: url('../font/lato-reg-webfont.eot');
  src: url('../font/lato-reg-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/lato-reg-webfont.woff2') format('woff2'),
  url('../font/lato-reg-webfont.woff') format('woff'),
  url('../font/lato-reg-webfont.ttf') format('truetype'),
  url('../font/lato-reg-webfont.svg#latoregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'latolight_italic';
  src: url('../font/lato-ligita-webfont.eot');
  src: url('../font/lato-ligita-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/lato-ligita-webfont.woff2') format('woff2'),
  url('../font/lato-ligita-webfont.woff') format('woff'),
  url('../font/lato-ligita-webfont.ttf') format('truetype'),
  url('../font/lato-ligita-webfont.svg#latolight_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'latolight';
  src: url('../font/lato-lig-webfont.eot');
  src: url('../font/lato-lig-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/lato-lig-webfont.woff2') format('woff2'),
  url('../font/lato-lig-webfont.woff') format('woff'),
  url('../font/lato-lig-webfont.ttf') format('truetype'),
  url('../font/lato-lig-webfont.svg#latolight') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'latohairline_italic';
  src: url('../font/lato-haiita-webfont.eot');
  src: url('../font/lato-haiita-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/lato-haiita-webfont.woff2') format('woff2'),
  url('../font/lato-haiita-webfont.woff') format('woff'),
  url('../font/lato-haiita-webfont.ttf') format('truetype'),
  url('../font/lato-haiita-webfont.svg#latohairline_italic') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'latobold';
  src: url('../font/lato-bol-webfont.eot');
  src: url('../font/lato-bol-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/lato-bol-webfont.woff2') format('woff2'),
  url('../font/lato-bol-webfont.woff') format('woff'),
  url('../font/lato-bol-webfont.ttf') format('truetype'),
  url('../font/lato-bol-webfont.svg#latobold') format('svg');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'latoblack';
  src: url('../font/lato-bla-webfont.eot');
  src: url('../font/lato-bla-webfont.eot?#iefix') format('embedded-opentype'),
  url('../font/lato-bla-webfont.woff2') format('woff2'),
  url('../font/lato-bla-webfont.woff') format('woff'),
  url('../font/lato-bla-webfont.ttf') format('truetype'),
  url('../font/lato-bla-webfont.svg#latoblack') format('svg');
  font-weight: normal;
  font-style: normal;

}