/* Scss Document */
@-moz-viewport {
  width: device-width;
  scale: 1;
}

@-ms-viewport {
  width: device-width;
  scale: 1;
}

@-o-viewport {
  width: device-width;
  scale: 1;
}

@-webkit-viewport {
  width: device-width;
  scale: 1;
}

@viewport {
  width: device-width;
  scale: 1;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}


header {
  background: transparent;
  color: white;
  height: 106px;
  width: 100%;
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 9999;
  .social_icon {
    margin: 0 auto;
    text-align: right;
    margin-top: 10px;
    margin-right: 30px;

    .search-container {
      overflow: hidden;
      float: right;
      border-radius: 2em;
      -moz-transition: all 0.35s;
      -webkit-transition: all 0.35s;
      input {
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        float: left;
        width: 0em;
        height: 2em;
        margin-right: -4.5em;
        background: #fff;
        color: #6A5D4F;
        font-size: 1em;
        font-weight: 600;
        padding: 0px;
        border: 0;
        border-radius: 70px;
        box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2) inset;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
        -moz-transition: all 0.25s;
        -webkit-transition: all 0.25s;
        &:focus {
          outline: none;
          box-shadow: 0 -1px 1px rgba(255, 255, 255, 0.25), 0 1px 5px rgba(0, 0, 0, 0.15);
        }
      }

      &:hover {
        width: 18em;
        border-radius: 5px 2em 2em 5px;
        input {
          display: inline-block;
          width: 15em;
          padding: 10px;
        }
      }

      .button {
        &:active {
          border: 0 !important;
          text-shadow: 0 0 0;
        }
      }

    }

    .icons {
      float: right;
      .login {
        display: inline-block;
        border: 2px solid white;
        font-size: 12px;
        padding: 1px;
        padding-left: 12px;
        padding-right: 12px;
        cursor: pointer;
        &:hover
        {
          color:black;
          background: white;
        }
      }
    }
    img {
      height: 30px;

    }
  }
  .logo {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 135px;
  }
  nav.navbar.navbar-default {
    &.scroll {
      background: #10bcff;
      opacity: 0.9;
      border-radius: 0;
    }
    background: none;
    border: 0;
    margin: 0 auto;
    box-shadow: none;
    button.navbar-toggle {
      background: none;
      border-radius: 0;
      outline: none;
      border: 0;
      font-size: 20px;
      position: absolute;
      right: 0;
      top: -6px;
    }
    .navbar-collapse, .navbar-default .navbar-form {
      background: none;
      border: 0;
      margin: 0 auto;
      box-shadow: none;
    }
    .container-fluid {
      background: transparent;
      border: none;
      border-radius: 0px;
      outline: 0px;
      box-shadow: none;
      .navbar-nav {
        clear: both;
        li {
          text-align: center;
          a {
            font-family: 'latoregular';
            font-size: 16px;
            color: white;
            &.current, &:hover {
              text-decoration: none;
              border-bottom: 2px solid #fff;
              padding-bottom: 0;
              padding-left: 0;
              padding-right: 0;
              margin-left: 15px;
              margin-right: 15px;
            }
          }

        }

      }

    }
  }
}

body {
  background: #232020;
  color: #231f20;

}

div.content {
  min-height: 500px;
  width: 100%;
  margin: 0 auto;
  .out_impact
  {
    margin:0 auto;
    text-align: center;
    height: auto;
    background: rgba(16, 174, 220, 0.11);
    padding-top:53px;
    font-size: 22px;
    font-family: 'latothin';
    h2
    {
      font-family: 'latoblack';
      font-size: 50px;
      color:#f15b22;
    }
    .million
    {
      display: inline-block;
      width: 180px;
      font-family: 'latothin';
      font-size: 18px;
      h3{
        color:#f15b22;
        font-family: 'latoblack';
        font-size: 80px;
      }
    }

  }
  .home_page
  {
    .unique {
      padding: 25px;
      width: 560px;
      margin: 0 auto;
      position: relative;
      h2 {
        font-family: latoblack;
        font-size: 47px;
        color: #231f20;
        text-align: center;
        margin-top: 26px;
        margin-left: -96px;
      }
      span {
        display: block;
        width: 593px;
        margin: 0 auto;
        position: relative;
        left: -55px;
        font-size: 16px;
        font-family: latoregular;
        top: 4px;
        ul {
          list-style: none;
          margin-left: -29px;
          margin-top: 11px;
          line-height: 2.5;
          li {
            b {
              font-family: latobold;
            }
            &:before {
              content: "• ";
              color: #f15b22;
              font-size: 18px;
            }
          }
        }
        a {
          color: #f15b22;
          font-family: latobold;
        }
      }
      img.hand {
        position: absolute;
        right: -233px;
        top: 106px;
      }
    }


    .country {
      margin: 0 auto;
      text-align: center;
      background: #0e3455;
      padding: 10px;
      h2
      {
        font-family: 'latoblack';
        font-size: 50px;
        color:white;
      }
      .footer_country
      {
        font-family: 'latoregular';
        font-size: 16px;
        color:white;
        width: 626px;
        margin:0 auto;
        text-align: left;

      }
    }

  }
  .about_page {
    .unique {
      height: 438px;
      padding: 25px;
      width: 560px;
      margin: 0 auto;
      position: relative;
      h2 {
        font-family: latoblack;
        font-size: 47px;
        color: #231f20;
        text-align: center;
        margin-top: 26px;
        margin-left: -96px;
      }
      span {
        display: block;
        width: 593px;
        margin: 0 auto;
        position: relative;
        left: -55px;
        font-size: 16px;
        font-family: latoregular;
        top: 4px;
        ul {
          list-style: none;
          margin-left: -29px;
          margin-top: 11px;
          line-height: 2.5;
          li {
            b {
              font-family: latobold;
            }
            &:before {
              content: "• ";
              color: #f15b22;
              font-size: 18px;
            }
          }
        }
        a {
          color: #f15b22;
          font-family: latobold;
        }
      }
      img.hand {
        position: absolute;
        right: -233px;
        top: 106px;
      }
    }
    .why_matters {
      background: url("../images/about/about_background.png") no-repeat;
      width: 100%;
      height: 578px;
      margin: 0 auto;
      background-position: top center;
      text-align: center;
      padding-top: 79px;
      background-size: cover;
      h2 {
        color: white;
        text-align: center;
        font-size: 50px;
        font-family: latoblack;
        margin-bottom: 28px;
      }
      span {
        font-family: latothin;
        font-size: 22px;
        color: white;
      }
      .icon {
        margin-top: 48px;
        font-size: 21px;
        color: white;
        font-family: 'latobold';
        div
        {
          display: inline-block;
        }
        i {
          font-size: 90px;
        }
      }
      .help_us_button {
        border: 3px solid white;
        cursor: pointer;
        width: 390px;
        margin: 0 auto;
        margin-top: 37px;
        height: 73px;
        padding-top: 18px;
        color: white;
        font-size: 25px;
        font-family: latoregular;
        &:hover {
          background: white;
          color: #f26522;
        }
      }
    }


    .slider {
      margin:0 auto;
      text-align: center;
      height: 520px;
      .slide {
        strong {
          color: #e57f12;
          font-size: 24px;
          font-weight: bold;
          font-family: latoregular;
          text-align: center;
          display: block;
          padding-top: 45px;
        }
        h2 {
          text-align: center;
          color: white;
          font-size: 50px;
          margin-top: 44px;
          margin-left: 22px;
          font-family: latoblack;
        }
        span {
          width: 500px;
          display: block;
          margin: 0 auto;
          color: white;
          font-size: 21px;
          font-family: latothin;
          margin-top: 31px;
          text-align: center;
        }
        &.number1 {
          background: url('../images/about/slider1.jpg') no-repeat;
          background-size: cover;
          height: 521px;
        }

      }
      .learn_more_button {
        display: block;
        margin: 0 auto;
        margin-top: -154px;
        width: 343px;
        text-align: center;
        color: white;
        border: 3px solid white;
        cursor: pointer;
        font-size: 25px;
        font-family: latoregular;
        position: relative;
        left: 1px;
        height: 73px;
        padding-top: 16px;
        &:hover {
          background: #f15b22;
          color: white;
        }
      }
    }
    .acf {
      height: 468px;
      margin: 0 auto;
      text-align: center;
      padding-top: 45px;
      h2 {
        color: black;
        font-size: 49px;
        font-family: latoblack;
        text-transform: uppercase;
        text-align: center;
        margin-left: 23px;
        margin-bottom: 20px;
      }
      span {
        display: block;
        width: 615px;
        margin: 0 auto;
        font-family: latoregular;
        font-size: 16px;
        b {
          color: #f15b22;
          font-family: latobold;
          font-size: 18px;

        }
      }
    }
    .humanitarian_expert {
      background: #f68e56;
      text-align: center;
      padding: 23px;
      h3 {
        font-family: latoblack;
        font-size: 48px;
        color: white;
        margin-bottom: 60px;
      }
      .expert_head {
        width: 191px;
        height: 191px;
        display: inline-block;
      }
    }
    .our_partners {
      height: 500px;
      text-align: center;
      padding-top: 47px;

      h2 {
        font-family: latoblack;
        color: #f15b22;
        font-size: 50px;
        margin-bottom: 16px;
      }
      span {
        display: block;
        width: 630px;
        margin: 0 auto;
        font-size: 16px;
        font-family: latoregular;
      }
      .partner_logo {
        margin-top: 44px;
      }
      .learn_more_button {
        width: 341px;
        height: 73px;
        margin: 0 auto;
        border: 3px solid #f15b22;
        cursor: pointer;
        margin-top: 60px;
        color: #f15b22;
        font-size: 25px;
        font-family: latoregular;
        padding-top: 16px;
        &:hover {
          background: #f15b22;
          color: white;
        }
      }
    }
    .video {
      height: 520px;
      text-align: center;
      position: relative;
      .play {
        width: 100%;
        height: 520px;
        background: url('../images/about/video_play.png') no-repeat;
        background-position: center;
        margin: 0 auto;
        text-align: left;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        .title {
          color: white;
          font-size: 34px;
          font-family: latothin;
          margin-top: 380px;
        }
        .title_head {
          font-family: latoblack;
          font-size: 40px;
          color: white;
        }
      }
    }
  }
  .take_action_page {
    .slider
    {
      text-align: center;

      .slider1
      {
        background: url("../images/take_action/take_action_slide.jpg") no-repeat;
        width: 100%;
        background-size: cover;
        background-position: top;
        height: 623px;
        color: white;
        padding-top: 40px;
        h3
        {
          font-family: 'latoheavy';
          font-size: 33px;
        }
        h2
        {
          font-family: 'latoblack';
          font-size: 50px;
          margin-top: 90px;
          margin-bottom: 90px;
        }
        p{
          font-family: 'latothin';
          font-size: 22px;
        }
        .learn_more
        {
          font-family: 'latoregular';
          font-size: 25px;
          width: 342px;
          height: 73px;
          border: 3px solid white;
          margin: 0 auto;
          text-align: center;
          padding-top: 16px;
          margin-top: 70px;
          cursor: pointer;
          &:hover
          {
            background: white;
            color:black;
          }
        }
      }
    }
    .take_action_mid {
      text-align: center;
    }
    .action_take {
      margin: 0 auto;
      text-align: center;

      img {
        padding: 25px;

      }

    }

    .action_menu {

        text-align: center;
      div.menu_action {
        display: inline-block;
        width: 255px;
        text-align: center;
        height: 169px;
        position: relative;
        margin-right: -3px;

        div.action_text {
          font-family: "latolight";
          font-size: 25px;
          display: block;
          width: 150px;
          float: left;
          position: relative;
          margin-left: 50px;
        }
        span.glyphicon.glyphicon-chevron-right {
          position: absolute;
          top: 13px;
          font-size: 15px;
          right: -20px;
        }
        b {
          display: block;
          text-align: center;
          margin: 0 auto;
          font-family: "latoblack";
          font-size: 40px;
        }
        div.footer {
          position: absolute;
          bottom: 0;
          width: 256px;
          height: 20px;
          &.a {
            background: #059fcc;

          }

          &.b {
            background: #f97c4b;
          }

          &.c {
            background: #38cedc;
          }

          &.d {
            background: #febb1c;
          }
        }
      }
      .menu_action.make_donation:hover, .menu_action.make_donation.active {
        background: #059fcc;
        color: white;
        div.footer {
          background: #fff;
        }
      }
      .menu_action.fundraise:hover, .menu_action.fundraise.active {
        color: white;
        background: #f97c4b;
        div.footer {
          background: #fff;
        }
      }
      .menu_action.give_monthly:hover, .menu_action.give_monthly.active {
        color: white;
        background: #38cedc;
        div.footer {
          background: #fff;
        }
      }
      .menu_action.buy_live_saving:hover, .menu_action.buy_live_saving.active {
        color: white;
        background: #febb1c;
        div.footer {
          background: #fff;
        }
      }
    }

    .action_menu_click {
      display: none;
      width: 100%;
      height: 704px;
      .give_monthly
      {
        display: none;
        background: #38cedc;
        min-height: 100px;
        height: 704px;
        color:white;
        text-align: center;
        p
        {
          text-align: left;
        }
        .amount_button {
          width: 142px;
          height: 73px;
          display: inline-block;
          border: 3px solid white;
          color: white;
          font-family: 'latoregular';
          font-size: 25px;
          text-align: CENTER;
          padding-top: 15px;
          margin: 10px;
          cursor: pointer;
          &:hover
          {
            background: white;
            color:#059fcc;
          }
        }
        img
        {
          text-align: center;
          display: block;
          margin:0 auto;
        }
        font-family: 'latoregular';
        font-size: 16px;
        h3 {
          font-family: 'latoheavy';
          font-size: 32px;
        }

        h4 {
          font-family: 'latobold';
          font-size: 22px;
        }
        .sent_button {
          display: block;
          margin: 0 auto;
          width: 284px;
          text-align: center;
          color: white;
          border: 3px solid white;
          cursor: pointer;
          font-size: 25px;
          font-family: latoregular;
          height: 73px;
          padding-top: 16px;
          margin-bottom: 10px;
          &:hover {
            background: white;
            color: #059fcc;
          }
        }
        .donation_form
        {
          height: 55px;
          margin-top: 18px;
          margin-bottom: 50px;
          .input {
            border: 3px solid #059fcc;
            width: 155px;
            height: 55px;
            display: inline-block;
            position: relative;
            text-align: right;
            background: white;
            div.dollar
            {
              position: absolute;
              left: 4px;
              top: 11px;
              color:#059fcc;
              font-family: 'latolight';
              font-size: 22px;
            }

            input {
              width: 80%;
              border: 0px;
              height: 49px;
              position: absolute;
              right: 0;
            }
          }
          .donation_text {
            display: inline;
            position: relative;
            top: -21px;
          }
          .select
          {
            display: inline;
            position: relative;
            top: -21px;
            font-size: 22px;
            font-family: 'latolight';
          }
        }
      }
      .buy_live
      {
        display: none;
        background: #febb1c;
        min-height: 100px;
        height: 704px;
        text-align: center;
        img
        {
          display: block;
          margin:0 auto;

        }
        .start_your_own
        {
          display: inline-block;
          width: 422px;
          height: 73px;
          color:white;
          border:3px solid white;
          font-family: 'latoregular';
          font-size: 25px;
          padding-top:15px;
          cursor: pointer;
          &:hover
          {
            background: white;
            color:#febb1c;
          }
        }
        .donate_to_the_cause
        {
          display: inline-block;
          width: 422px;
          height: 73px;
          color:white;
          border:3px solid white;
          font-family: 'latoregular';
          font-size: 25px;
          padding-top:15px;
          cursor: pointer;
          &:hover
          {
            background: white;
            color:#febb1c;
          }
        }
      }
      .fundraise
      {
        display: none;
        background: #f97c4b;
        min-height: 100px;
        height: 704px;
        text-align: center;
        img
        {
          display: block;
          margin:0 auto;

        }
        .start_your_own
        {
          display: inline-block;
          width: 422px;
          height: 73px;
          color:white;
          border:3px solid white;
          font-family: 'latoregular';
          font-size: 25px;
          padding-top:15px;
          cursor: pointer;
          &:hover
          {
            background: white;
            color:#f97c4b;
          }
        }
        .donate_to_the_cause
        {
          display: inline-block;
          width: 422px;
          height: 73px;
          color:white;
          border:3px solid white;
          font-family: 'latoregular';
          font-size: 25px;
          padding-top:15px;
          cursor: pointer;
          &:hover
          {
            background: white;
            color:#f97c4b;
          }
        }
      }
      .make_donation
      {
        display: none;
        text-align: center;
        padding:45px;
        background: #059fcc;
        color:white;
        height: 704px;
        p
        {
          text-align: left;
        }
        .amount_button {
          width: 142px;
          height: 73px;
          display: inline-block;
          border: 3px solid white;
          color: white;
          font-family: 'latoregular';
          font-size: 25px;
          text-align: CENTER;
          padding-top: 15px;
          margin: 10px;
          cursor: pointer;
          &:hover
          {
            background: white;
            color:#059fcc;
          }
        }
        img
        {
          text-align: center;
          display: block;
          margin:0 auto;
        }
        font-family: 'latoregular';
        font-size: 16px;
        h3 {
          font-family: 'latoheavy';
          font-size: 32px;
        }

        h4 {
          font-family: 'latobold';
          font-size: 22px;
        }
        .sent_button {
          display: block;
          margin: 0 auto;
          width: 284px;
          text-align: center;
          color: white;
          border: 3px solid white;
          cursor: pointer;
          font-size: 25px;
          font-family: latoregular;
          height: 73px;
          padding-top: 16px;
          margin-bottom: 10px;
          &:hover {
            background: white;
            color: #059fcc;
          }
        }
        .donation_form
        {
          height: 55px;
          margin-top: 18px;
          margin-bottom: 50px;
          .input {
            border: 3px solid #059fcc;
            width: 155px;
            height: 55px;
            display: inline-block;
            position: relative;
            text-align: right;
            background: white;
            div.dollar
            {
              position: absolute;
              left: 4px;
              top: 11px;
              color:#059fcc;
              font-family: 'latolight';
              font-size: 22px;
            }

            input {
              width: 80%;
              border: 0px;
              height: 49px;
              position: absolute;
              right: 0;
            }
          }
          .donation_text {
            display: inline;
            position: relative;
            top: -21px;
          }
          .select
          {
            display: inline;
            position: relative;
            top: -21px;
            font-size: 22px;
            font-family: 'latolight';
          }
        }
      }

    }
  }
  .impact_page {
    .take_action_mid {
      margin: 0 auto;
      text-align: center;
    }
    .action_take {
      background: rgba(172, 246, 255, 0.21);
      margin: 0 auto;
      text-align: center;
      padding-top: 60px;
      padding-bottom: 52px;

      div i
      {
        font-size: 174px;
        color:white;
      }
      div img {
        position: absolute;
        left: 0;
        right: 0;
        top: 46px;
        bottom: 0;
        margin: 0 auto;
      }
      div p {
        position: absolute;
        left: 0;
        right: 0;
        top: 220px;
        bottom: 0;
        margin: 0 auto;
        font-family: 'latoheavy';
        font-size: 30px;
        color: white;
      }
      .nutrition {
        background: url('../images/impact/nutrition_bg.jpg') no-repeat;
        width: 390px;
        height: 327px;
        display: inline-block;
        position: relative;
        margin: 20px;
        &:hover {
          background: #f68e55;
        }
      }
      .water {
        background: url('../images/impact/water_bg.jpg') no-repeat;
        width: 390px;
        height: 327px;
        display: inline-block;
        position: relative;
        margin: 20px;
        &:hover {
          background: #089cff;
        }
      }
      .food {
        background: url('../images/impact/food_bg.jpg') no-repeat;
        width: 390px;
        height: 327px;
        display: inline-block;
        position: relative;
        margin: 20px;
        &:hover {
          background: #5bd26e;
        }
      }
      .emergency {
        background: url('../images/impact/emergency_bg.jpg') no-repeat;
        width: 390px;
        height: 327px;
        display: inline-block;
        position: relative;
        margin: 20px;
        &:hover {
          background: #ff0c06;
        }
      }
    }

  }
  .stories_page {
    text-align: center;
    .stories_list {
      margin: 0 auto;
      margin-top: 40px;
      text-align: center;
      max-width: 938px;
      .story
      {
        width: 297px;
        height: 230px;
        margin-right: 13px;
        display: inline-block;
        margin-bottom: 33px;
        position: relative;
        cursor: pointer;
        .story_heading {
          position: absolute;
          bottom: 0px;
          height: 59px;
          background: rgba(0, 0, 0, 0.45);
          width: 100%;
          font-family: 'latoheavy';
          font-size: 12px;
          text-align: left;
          padding: 0;
          padding-left: 11px;
          color: white;
          h2
          {
            font-size: 22px;
            margin: 0 auto;
            margin-top: 9px;
          }
        }
        &.s1
        {
          background: url("../images/stories/aah-027.jpg") no-repeat;
        }
        &.s2
        {
          background: url("../images/stories/aah-003.jpg") no-repeat;
        }

        &.s3
        {
          background: url("../images/stories/aah-007.jpg") no-repeat;
        }

        &.s4
        {
          background: url("../images/stories/aah-008.jpg") no-repeat;
        }

        &.s5
        {
          background: url("../images/stories/aah-016.jpg") no-repeat;
        }
        &.s6
        {
          background: url("../images/stories/aah-019.jpg") no-repeat;
        }
      }
    }
    div.page
    {
      display: inline-block;

      padding: 3px 3px 1px 2px;
      margin-bottom: 19px;
      &.active
      {
        background: #ef5214;
        color:white;
      }
      &.p
      {
        cursor: pointer;
        &:hover
        {
          background: #ef5214;
          color:white;
        }

      }

    }
  }
  .header {

    margin: 0 auto;
    position: relative;
    img.hand {
      position: absolute;
      right: 0px;
      bottom: 20px;
    }
    .content_header {
      width: 80%;
      padding: 32px;
      position: absolute;
      bottom: 0px;

      h1 {
        font-size: 80px;
        color: white;
        font-family: latoblack;
        padding-left: 3px;
        line-height: 1;
      }
      span {
        color: #f1f2f2;
        font-size: 22px;
        font-family: latothin;
        line-height: 1.35;
      }
    }
    &.about {
      background: url('../images/about/about_header.jpg') no-repeat;
      width: 100%;
      height: 520px;
      background-position: center;
      background-size: cover;
    }
    &.home {
      background: url('../images/home_header.jpg') no-repeat;
      width: 100%;
      height: 520px;
      background-position: center;
      background-size: cover;
      div.content_header
      {
        h1
        {
          font-family: 'latoblack';
          font-size: 47px;
        }
      }
    }
    &.take_action {
      background: url('../images/take_action/take_action_header.jpg') no-repeat;
      width: 100%;
      height: 525px;
      background-position: top;
      background-size: cover;

    }

    &.impact {
      background: url('../images/impact/impact.jpg') no-repeat;
      width: 100%;
      height: 520px;
      background-position: top;
      background-size: cover;
    }

    &.stories {
      background: url('../images/stories/stories.jpg') no-repeat;
      width: 100%;
      height: 520px;
      background-position: top;
      background-size: cover;

    }
  }

}

footer {
  background: black;
  min-height: 118px;
  color: white;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  height: 150px;
  div.row {

    padding-top: 24px;
    div {
      padding: 13px;
    }
    div.back_top {
      background: url("../images/about/back_top.png") no-repeat;
      width: 107px;
      height: 105px;
      right: 15px;
      bottom: 15px;
      float: right;
      margin: 0 auto;
    }
    .middle {

      font-family: 'latoregular';
      font-size: 10px;
    }
    .subcribe {
      h3 {
        font-family: 'latoregular';
        font-size: 12px;
        margin-left: -90px;
      }
    }

    .input-group {
      margin-left: 14px;
      input.form-control {
        height: 38px;
        border-radius: 0;
      }
    }
    span#basic-addon1 {
      background: transparent;
      color: #f15b22;
      border-radius: 0;
      border: 3px solid #f15b22;
    }
  }
}

div#nutrition {

  .modal-dialog {
    width: 847px;
  }
  .modal-header {
    background: url('../images/impact/nutrition_header.jpg') no-repeat;
    width: 847px;
    height: 341px;
    position: relative;
    button.close
    {
      font-family: 'latothin';
      font-size: 72px;
      color: white;
      opacity: 1;
      &:hover
      {
        color:grey;
      }
    }
    h2{
      font-family: 'latoheavy';
      font-size: 35px;
      color:white;
      text-transform: uppercase;
    }
    .header_text
    {
      position: absolute;
      bottom: 15px;
      left: 15px;
      span {
        font-family: 'latothin';
        font-size: 22px;
        color:white;
      }
    }

  }

  .modal-content {
    background: white;
    border-radius: 0;
    outline: none;
    border: 0;
    .modal-body {
      padding:40px;
      img
      {
        text-align: center;
        display: block;
        margin:0 auto;
      }
      font-family: 'latoregular';
      font-size: 16px;
      h3 {
        font-family: 'latoheavy';
        font-size: 32px;
      }

      h4 {
        font-family: 'latobold';
        font-size: 22px;
      }
    }
  }

}

div#header_donation {

  .modal-dialog {
    width: 847px;
  }
  .modal-header {
    background: url('../images/donation_header.jpg') no-repeat;
    width: 846px;
    height: 341px;
    border:0;
    outline:0;
    position: relative;
    button.close
    {
      font-family: 'latothin';
      font-size: 72px;
      color: white;
      opacity: 1;
      &:hover
      {
        color:grey;
      }
    }
    h2{
      font-family: 'latoheavy';
      font-size: 35px;
      color:white;
      text-transform: uppercase;
    }
    .header_text
    {
      position: absolute;
      bottom: 15px;
      left: 15px;
      span {
        font-family: 'latothin';
        font-size: 22px;
        color:white;
      }
    }

  }

  .modal-content {
    background: white;
    border-radius: 0;
    outline: none;
    border: 0;
    .modal-body {
      text-align: center;
      padding:45px;
      p
      {
        text-align: left;
      }
      .amount_button {
        width: 142px;
        height: 73px;
        display: inline-block;
        border: 3px solid #059fcc;
        color: #059fcc;
        font-family: 'latoregular';
        font-size: 25px;
        text-align: CENTER;
        padding-top: 15px;
        margin: 10px;
        cursor: pointer;
        &:hover
        {
          background: #059fcc;
          color:white;
        }
      }
      img
      {
        text-align: center;
        display: block;
        margin:0 auto;
      }
      font-family: 'latoregular';
      font-size: 16px;
      h3 {
        font-family: 'latoheavy';
        font-size: 32px;
      }

      h4 {
        font-family: 'latobold';
        font-size: 22px;
      }
      .sent_button {
        display: block;
        margin: 0 auto;
        width: 284px;
        text-align: center;
        color: #f15b22;
        border: 3px solid #f15b22;
        cursor: pointer;
        font-size: 25px;
        font-family: latoregular;
        height: 73px;
        padding-top: 16px;
        margin-bottom: 10px;
        &:hover {
          background: #f15b22;
          color: white;
        }
      }
      .donation_form
      {
        height: 55px;
        margin-top: 18px;
        margin-bottom: 50px;
        .input {
          border: 3px solid #059fcc;
          width: 155px;
          height: 55px;
          display: inline-block;
          position: relative;
          text-align: right;
          div.dollar
          {
            position: absolute;
            left: 4px;
            top: 11px;
            color:#059fcc;
            font-family: 'latolight';
            font-size: 22px;
          }

          input {
            width: 80%;
            border: 0px;
            height: 49px;
            position: absolute;
            right: 0;
          }
        }
        .donation_text {
          display: inline;
          position: relative;
          top: -21px;
        }
        .select
        {
          display: inline;
          position: relative;
          top: -21px;
          font-size: 22px;
          font-family: 'latolight';
        }
      }
    }
  }

}


#slider {
  height: 565px;
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
  ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
    li {
      position: relative;
      display: block;
      float: left;
      margin: 0;
      padding: 0;
      width: 1024px;
      height: 565px;
      text-align: center;

    }
  }
}


#slider_head {
  height: 100px;
  position: relative;
  overflow: hidden;
  margin: 20px auto 0 auto;
  border-radius: 4px;
  ul {
    position: relative;
    margin: 0;
    padding: 0;
    height: 200px;
    list-style: none;
    li {
      position: relative;
      display: block;
      float: left;
      margin: 0;
      padding: 0;
      width: 1024px;
      height: 100px;
      text-align: center;

    }
  }
}


div.control_prev, div.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: 81px;
  height: 81px;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}
div.control_prev
{
  background: url('../images/left_button.png') no-repeat;
}
div.control_next
{
  background: url('../images/right_button.png') no-repeat;
}
div.control_prev:hover, div.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

div.control_prev {
  border-radius: 0 2px 2px 0;
  left: 10px;
}

div.control_next {
  right: 10px;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 18px;
}



// @media

@media (max-width: 1024px) {
  #slider ul li {
    width: 662px;
  }

}
@media (max-width: 767px) {

  .map {
    -ms-transform: scale(0.7);
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
    transform-origin: 0px;
    margin: 0 auto;
  }

  div.content .home_page .unique
  {
    width: 100%;
   span
    {
        width: 100%;
     left:0;
    }
  }
  div.content .header .content_header
  {
    width: 100%;
    text-align: center;
    bottom: 101px;
  }
  div.content .header img.hand
  {
    left: 0;
    right: 0;
    text-align: CENTER;
    margin: 0 auto;
  }
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  header {
    .logo {
      width: 90px;
      top: 23px;
    }
    .social_icon {
      margin-right: 69px;

    }
    nav.navbar.navbar-default {
      .container-fluid .navbar-nav li {
        background: #414142;
        border-bottom: 1px solid black;
        a.current {
          background: #58595b;
          border: none;
          text-decoration: none;
          margin: auto;
          padding-bottom: 10px;
          line-height: 20px;
        }

      }
      div#bs-example-navbar-collapse-1 {
        margin-top: 50px;
      }
    }

  }

  footer div.row div.back_top {
    margin-top: 19px;
  }
}
@media (max-width: 662px) {
  div.content .take_action_page .slider .slider1 h2
  {
    font-size: 25px;
  }
  #slider ul li {
    width: 450px;
  }

  .map {
    -ms-transform: scale(0.4);
    -webkit-transform: scale(0.4);
    transform: scale(0.4);
    transform-origin: 0px;
    margin: 0 auto;
  }
}
@media (max-width: 450px) {
  #slider ul li {
    width: 320px;
  }

  .map {
    -ms-transform: scale(0.3);
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    transform-origin: 0px;
    margin: 0 auto;
  }
}


